/* livvic-700 - latin */
@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
         url('../fonts/livvic-v11-latin-700.woff2') format('woff2'),
         url('../fonts/livvic-v11-latin-700.woff') format('woff');
  }

  /* livvic-600 - latin */
  @font-face {
      font-family: 'Livvic';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: local(''),
           url('../fonts/livvic-v11-latin-600.woff2') format('woff2'),
    }


body {
    font-family: 'Livvic';
}

#meet {
    background-color: #004047;
    padding: 50px 0;
    background-image: url(./images/bg-top.png),url(./images/bg-bottom.png);
    background-repeat: no-repeat;
    background-position: left calc(50% - 710px) top,right calc(50% - 710px) bottom;
}

.meet-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

.card {
    position: relative;
    transition: 0.2s ease;
}
.card-bg {
    background-color: #012F34 !important;
}

.ceo-color {
    color: white;
}

.name-color {
    color: #79C8C7;
}

.card::after {
    content: '';
    background-image: url(./images/before-img.svg);
    width: 56px;
    height: 56px;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    bottom: -30px;
    left: 150px;
}

.card:hover {
    transform: scale(1.1);
}

.card-last {
    position: relative;
    background-color: #002529 !important;
    transition: 0.2s ease;
}

.card-last::after {
    content: '';
    background-image: url(./images/afterlast.svg);
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    bottom: -30px;
    left: 150px;
}

.card-last:hover {
    transform: scale(1.1);
}

.quote {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    width: 254px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none !important;
}

svg > path {
    transition: 0.2s ease;
}

svg:hover > path {
    fill: #F67E7E;
}